<h1>Olá, utilizando layouts</h1>
{{#if aprovado}}
    <p>Parabéns seu cadastro foi aprovado!</p>
{{else}}
    <p>Infelizmente seu cadastro não foi aprovado.</p>
{{/if}}
{{#if auth}}
    <p>Você está autenticado, <a href="/dashboard">clique aqui</a> para área de membros</p>
{{/if}}